In [27]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from datetime import datetime
import pytz

In [28]:
start_time = datetime(2014, 12, 31, 23, 59, 0)

In [29]:
COMPANIES_FILE_PATH = 'nz_main_board_companies.csv'
STOCK_FILE_PATH = 'nz_main_stock_data.csv'
START_TIME = pytz.timezone('Pacific/Auckland').localize((start_time))
KEY_COLS = ['close','dividends', 'company', 'sector', 'industry']
PERIOD = '10y'

In [30]:
nz_main_board_companies = pd.read_csv(COMPANIES_FILE_PATH)
nz_main_board_companies.head()

  Code                      Company
0  WIN     Winton Land Limited (NS)
1  WHS  The Warehouse Group Limited
2  WCO        WasteCo Group Limited
3  WBC  Westpac Banking Corporation
4  VTL                Vital Limited

In [31]:
def get_stock_data(df: pd.DataFrame) -> pd.DataFrame:
    stock_df = pd.DataFrame()
    for _, (code, company) in df.iterrows():
        try:
            ticker = yf.Ticker(f"{code}.NZ")
            cur_stock_df = ticker.history(period=PERIOD)
            info = ticker.info
            if cur_stock_df.empty:
                continue
            cur_stock_df['company'] = company
            cur_stock_df['sector'] = info.get('sector')
            cur_stock_df['industry'] = info.get('industry')
            stock_df = pd.concat([stock_df, cur_stock_df])
        except KeyError as e:
            print(f"{company} data is not found in Yahoo Finance!")
        except Exception as e:
            print(f"Error fetching data for {company}: {e}")
    return stock_df

In [32]:
try:
    stock_df = pd.read_csv(STOCK_FILE_PATH, index_col='Date')
except FileNotFoundError:
    stock_df = get_stock_data(nz_main_board_companies)
    stock_df.to_csv(STOCK_FILE_PATH)

stock_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,company,sector,industry,Capital Gains
Date,,,,,,,,,,,
2021-12-17 00:00:00+13:00,3.835612,3.835612,3.728526,3.767467,292826,0.0,0.0,Winton Land Limited (NS),Real Estate,Real Estate - Development,NaN
2021-12-20 00:00:00+13:00,3.767466,3.767466,3.611706,3.621441,34590,0.0,0.0,Winton Land Limited (NS),Real Estate,Real Estate - Development,NaN
2021-12-21 00:00:00+13:00,3.699321,3.699321,3.699321,3.699321,18354,0.0,0.0,Winton Land Limited (NS),Real Estate,Real Estate - Development,NaN
2021-12-22 00:00:00+13:00,3.689586,3.689586,3.640911,3.689586,14486,0.0,0.0,Winton Land Limited (NS),Real Estate,Real Estate - Development,NaN
2021-12-23 00:00:00+13:00,3.631176,3.660381,3.631176,3.650646,10024,0.0,0.0,Winton Land Limited (NS),Real Estate,Real Estate - Development,NaN

In [33]:
stock_df.columns = stock_df.columns.str.lower()
stock_df = stock_df[KEY_COLS]
stock_df['close_ffill'] = stock_df['close'].ffill()
dividends_df = stock_df[stock_df['dividends'] > 0].copy()
dividends_df['close'] = dividends_df['close'].combine_first(dividends_df['close_ffill'])
dividends_df.drop('close_ffill', axis=1, inplace=True)
dividends_df.index = pd.to_datetime(dividends_df.index, utc=True).tz_convert('Pacific/Auckland')
dividends_df['year'] = dividends_df.index.year
dividends_df

,close,dividends,company,sector,industry,year
Date,,,,,,
2022-08-30 00:00:00+12:00,2.541574,0.010700,Winton Land Limited (NS),Real Estate,Real Estate - Development,2022
2023-02-28 00:00:00+13:00,1.916445,0.020600,Winton Land Limited (NS),Real Estate,Real Estate - Development,2023
2023-08-28 00:00:00+12:00,2.342819,0.021600,Winton Land Limited (NS),Real Estate,Real Estate - Development,2023
2024-02-26 00:00:00+13:00,2.500000,0.007639,Winton Land Limited (NS),Real Estate,Real Estate - Development,2024
2015-11-25 00:00:00+13:00,1.487685,0.050000,The Warehouse Group Limited,Consumer Cyclical,Department Stores,2015
...,...,...,...,...,...,...
2024-08-14 00:00:00+12:00,6.808300,0.157600,Australian Foundation Investment Company Limited,Financial Services,Asset Management,2024
2025-02-03 00:00:00+13:00,6.940000,0.131700,Australian Foundation Investment Company Limited,Financial Services,Asset Management,2025
2023-11-21 00:00:00+13:00,0.769250,0.041600,2 Cheap Cars Group Limited,Consumer Cyclical,Auto & Truck Dealerships,2023
2024-05-30 00:00:00+12:00,0.823171,0.048941,2 Cheap Cars Group Limited,Consumer Cyclical,Auto & Truck Dealerships,2024
2024-11-21 00:00:00+13:00,0.840000,0.025882,2 Cheap Cars Group Limited,Consumer Cyclical,Auto & Truck Dealerships,2024

In [34]:
dividends_df.index

DatetimeIndex(['2022-08-30 00:00:00+12:00', '2023-02-28 00:00:00+13:00',
               '2023-08-28 00:00:00+12:00', '2024-02-26 00:00:00+13:00',
               '2015-11-25 00:00:00+13:00', '2016-04-01 00:00:00+13:00',
               '2016-11-24 00:00:00+13:00', '2017-03-31 00:00:00+13:00',
               '2017-11-23 00:00:00+13:00', '2018-03-29 00:00:00+13:00',
               ...
               '2022-02-09 00:00:00+13:00', '2022-08-10 00:00:00+12:00',
               '2023-02-02 00:00:00+13:00', '2023-08-11 00:00:00+12:00',
               '2024-02-02 00:00:00+13:00', '2024-08-14 00:00:00+12:00',
               '2025-02-03 00:00:00+13:00', '2023-11-21 00:00:00+13:00',
               '2024-05-30 00:00:00+12:00', '2024-11-21 00:00:00+13:00'],
              dtype='datetime64[ns, Pacific/Auckland]', name='Date', length=2343, freq=None)

In [35]:
dividends_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2343 entries, 2022-08-30 00:00:00+12:00 to 2024-11-21 00:00:00+13:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   close      2343 non-null   float64
 1   dividends  2343 non-null   float64
 2   company    2343 non-null   object
 3   sector     1452 non-null   object
 4   industry   1452 non-null   object
 5   year       2343 non-null   int32
dtypes: float64(2), int32(1), object(3)
memory usage: 119.0+ KB

In [36]:
dividends_df['sector'].unique()

array(['Real Estate', 'Consumer Cyclical', 'Financial Services',
       'Communication Services', 'Basic Materials', 'Industrials',
       'Technology', 'Utilities', nan, 'Consumer Defensive', 'Healthcare',
       'Energy'], dtype=object)

In [37]:
dividends_df['industry'].unique()

array(['Real Estate - Development', 'Department Stores',
       'Banks - Diversified', 'Telecom Services', 'Steel',
       'Infrastructure Operations', 'REIT - Healthcare Facilities',
       'Software - Application', 'Utilities - Diversified', nan,
       'Insurance - Property & Casualty', 'Auto & Truck Dealerships',
       'Recreational Vehicles', 'Farm Products',
       'Medical Care Facilities', 'Marine Shipping',
       'Real Estate Services', 'Entertainment',
       'Specialty Industrial Machinery', 'Resorts & Casinos',
       'Packaged Foods', 'Restaurants', 'Electrical Equipment & Parts',
       'Specialty Business Services', 'REIT - Industrial',
       'REIT - Diversified', 'Financial Data & Stock Exchanges',
       'Utilities - Regulated Electric', 'Building Products & Equipment',
       'Integrated Freight & Logistics', 'Utilities - Renewable',
       'Luxury Goods', 'Internet Retail', 'Lodging',
       'Apparel Manufacturing', 'REIT - Retail', 'Conglomerates',
       'Apparel Retail', 'Mortgage Finance', 'Pharmaceutical Retailers',
       'Software - Infrastructure',
       'Utilities - Independent Power Producers',
       'Beverages - Wineries & Distilleries',
       'Medical Instruments & Supplies', 'Building Materials',
       'Medical Distribution', 'Oil & Gas Refining & Marketing',
       'Airlines', 'Airports & Air Services',
       'Staffing & Employment Services',
       'Drug Manufacturers - Specialty & Generic', 'Asset Management'],
      dtype=object)

In [38]:
companies_without_sector = dividends_df[dividends_df['sector'].isna()]['company'].unique()
print(f"The following companies do not have sector information: {companies_without_sector}.\n")

companies_without_industry = dividends_df[dividends_df['industry'].isna()]['company'].unique()
print(f"The following companies do not have industry information: {companies_without_industry}.")

The following companies do not have sector information: ['Smart US Large Value ETF' 'Smart US Small Cap ETF'
 'Smart US Mid Cap ETF' 'Smart US 500 (NZD Hedged) ETF'
 'Smart US Large Growth ETF' 'Smart US 500 ETF' 'Smart US ESG ETF'
 'Smart Total World (NZD Hedged) ETF' 'Smart Total World ETF'
 'Smart NZ Top 10 ETF' 'Templeton Emerging Markets Investment Trust Plc'
 'Private Land and Property Fund' 'Smart Australian Top 20 ETF'
 'Smart S&P/NZX 50 ETF' 'Smart NZ Cash ETF' 'Smart NZ Bond ETF'
 'Smart NZ Property ETF' 'Smart S&P/NZX NZ Government Bond ETF'
 'Smart Australian Mid Cap ETF' 'Marlin Global Limited'
 'Smart NZ Mid Cap ETF' 'Smart Healthcare Innovation ETF'
 'Kingfish Limited' 'Smart Japan ESG ETF'
 'Smart Global Infrastructure ETF' 'Henderson Far East Income Limited'
 'Smart Global Property ETF' 'Smart Global Government Bond ETF'
 'Smart Global Bond ETF' 'Smart NZ Top 50 ETF' 'F&C Investment Trust PLC'
 'Smart Europe ESG ETF' 'Smart Europe ETF' 'Smart Global ESG ETF'
 'Smart Emerging Markets ESG ETF' 'Smart Emerging Markets ETF'
 'Downer EDI Limited' 'Smart NZ Dividend ETF' 'Barramundi Limited'
 'Smart Automation and Robotics ETF' 'The Bankers Investment Trust Plc'
 'Smart Australian Top 200 ETF' 'Smart Australian Resources ETF'
 'Smart Australian Property ETF' 'Smart Australian Financials ETF'
 'Smart Australian Dividend ETF' 'Smart Asia Pacific ETF'
 'Smart Global Aggregate Bond ETF'].

The following companies do not have industry information: ['Smart US Large Value ETF' 'Smart US Small Cap ETF'
 'Smart US Mid Cap ETF' 'Smart US 500 (NZD Hedged) ETF'
 'Smart US Large Growth ETF' 'Smart US 500 ETF' 'Smart US ESG ETF'
 'Smart Total World (NZD Hedged) ETF' 'Smart Total World ETF'
 'Smart NZ Top 10 ETF' 'Templeton Emerging Markets Investment Trust Plc'
 'Private Land and Property Fund' 'Smart Australian Top 20 ETF'
 'Smart S&P/NZX 50 ETF' 'Smart NZ Cash ETF' 'Smart NZ Bond ETF'
 'Smart NZ Property ETF' 'Smart S&P/NZX NZ Government Bond ETF'
 'Smart Australian Mid Cap ETF' 'Marlin Global Limited'
 'Smart NZ Mid Cap ETF' 'Smart Healthcare Innovation ETF'
 'Kingfish Limited' 'Smart Japan ESG ETF'
 'Smart Global Infrastructure ETF' 'Henderson Far East Income Limited'
 'Smart Global Property ETF' 'Smart Global Government Bond ETF'
 'Smart Global Bond ETF' 'Smart NZ Top 50 ETF' 'F&C Investment Trust PLC'
 'Smart Europe ESG ETF' 'Smart Europe ETF' 'Smart Global ESG ETF'
 'Smart Emerging Markets ESG ETF' 'Smart Emerging Markets ETF'
 'Downer EDI Limited' 'Smart NZ Dividend ETF' 'Barramundi Limited'
 'Smart Automation and Robotics ETF' 'The Bankers Investment Trust Plc'
 'Smart Australian Top 200 ETF' 'Smart Australian Resources ETF'
 'Smart Australian Property ETF' 'Smart Australian Financials ETF'
 'Smart Australian Dividend ETF' 'Smart Asia Pacific ETF'
 'Smart Global Aggregate Bond ETF'].

In [39]:
companies_without_sector == companies_without_industry

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [40]:
sector_dict = {
    'Templeton Emerging Markets Investment Trust Plc': 'Financial Services',
    'Private Land and Property Fund':'Real Estate',
    'Marlin Global Limited': 'Financial Services',
    'Kingfish Limited': 'Financial Services',
    'Henderson Far East Income Limited': 'Financial Services',
    'F&C Investment Trust PLC': 'Financial Services',
    'Downer EDI Limited': 'Industrials',
    'Barramundi Limited': 'Financial Services',
    'The Bankers Investment Trust Plc':'Financial Services'
}

industry_dict = {
    'Templeton Emerging Markets Investment Trust Plc': 'Asset Management',
    'Private Land and Property Fund': 'Real Estate - Speciality',
    'Marlin Global Limited': 'Asset Management',
    'Kingfish Limited': 'Asset Management',
    'Henderson Far East Income Limited': 'Asset Management',
    'F&C Investment Trust PLC': 'Asset Management',
    'Downer EDI Limited': 'Engineering & Construction',
    'Barramundi Limited': 'Asset Management',
    'The Bankers Investment Trust Plc': 'Asset Management'
}

In [41]:
dividends_df['sector'] = dividends_df['company'].map(sector_dict).fillna(dividends_df['sector'])
dividends_df['industry'] = dividends_df['company'].map(industry_dict).fillna(dividends_df['industry'])

In [42]:
dividends_df['dividend_yield'] = dividends_df['dividends'].div(dividends_df['close'], axis=0)

In [43]:
non_etf_dividends_df = dividends_df[~dividends_df['company'].str.contains('ETF')]
non_etf_dividends_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1738 entries, 2022-08-30 00:00:00+12:00 to 2024-11-21 00:00:00+13:00
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   close           1738 non-null   float64
 1   dividends       1738 non-null   float64
 2   company         1738 non-null   object
 3   sector          1738 non-null   object
 4   industry        1738 non-null   object
 5   year            1738 non-null   int32
 6   dividend_yield  1738 non-null   float64
dtypes: float64(3), int32(1), object(3)
memory usage: 101.8+ KB

In [44]:
non_etf_dividends_df.head()

,close,dividends,company,sector,industry,year,dividend_yield
Date,,,,,,,
2022-08-30 00:00:00+12:00,2.541574,0.010700,Winton Land Limited (NS),Real Estate,Real Estate - Development,2022,0.004210
2023-02-28 00:00:00+13:00,1.916445,0.020600,Winton Land Limited (NS),Real Estate,Real Estate - Development,2023,0.010749
2023-08-28 00:00:00+12:00,2.342819,0.021600,Winton Land Limited (NS),Real Estate,Real Estate - Development,2023,0.009220
2024-02-26 00:00:00+13:00,2.500000,0.007639,Winton Land Limited (NS),Real Estate,Real Estate - Development,2024,0.003056
2015-11-25 00:00:00+13:00,1.487685,0.050000,The Warehouse Group Limited,Consumer Cyclical,Department Stores,2015,0.033609

In [45]:
non_etf_dividends_df.groupby('sector')['company'].nunique()

sector
Basic Materials            3
Communication Services     5
Consumer Cyclical         14
Consumer Defensive        13
Energy                     1
Financial Services        14
Healthcare                 9
Industrials               18
Real Estate               13
Technology                 4
Utilities                  7
Name: company, dtype: int64

In [46]:
non_etf_dividends_df[non_etf_dividends_df['sector'] == 'Basic Materials']

,close,dividends,company,sector,industry,year,dividend_yield
Date,,,,,,,
2022-03-10 00:00:00+13:00,7.820786,0.323529,Vulcan Steel Limited,Basic Materials,Steel,2022,0.041368
2022-09-20 00:00:00+12:00,7.013064,0.427900,Vulcan Steel Limited,Basic Materials,Steel,2022,0.061015
2022-09-22 00:00:00+12:00,7.465656,0.375000,Vulcan Steel Limited,Basic Materials,Steel,2022,0.050230
2023-03-09 00:00:00+13:00,8.245689,0.288235,Vulcan Steel Limited,Basic Materials,Steel,2023,0.034956
2023-09-27 00:00:00+13:00,7.758816,0.328682,Vulcan Steel Limited,Basic Materials,Steel,2023,0.042362
2024-02-29 00:00:00+13:00,8.150040,0.141176,Vulcan Steel Limited,Basic Materials,Steel,2024,0.017322
2024-09-26 00:00:00+12:00,8.205516,0.126400,Vulcan Steel Limited,Basic Materials,Steel,2024,0.015404
2025-03-13 00:00:00+13:00,8.770000,0.025882,Vulcan Steel Limited,Basic Materials,Steel,2025,0.002951
2015-09-23 00:00:00+12:00,1.447967,0.017963,Steel & Tube Holdings Limited,Basic Materials,Steel,2015,0.012406
2016-03-10 00:00:00+13:00,1.295917,0.083284,Steel & Tube Holdings Limited,Basic Materials,Steel,2016,0.064266
2016-09-15 00:00:00+12:00,1.303354,0.124925,Steel & Tube Holdings Limited,Basic Materials,Steel,2016,0.095849
2017-03-16 00:00:00+13:00,1.556613,0.083284,Steel & Tube Holdings Limited,Basic Materials,Steel,2017,0.053503
2017-09-14 00:00:00+12:00,1.396046,0.064776,Steel & Tube Holdings Limited,Basic Materials,Steel,2017,0.046400
2018-03-14 00:00:00+13:00,1.409504,0.064776,Steel & Tube Holdings Limited,Basic Materials,Steel,2018,0.045957
2019-03-14 00:00:00+13:00,0.891094,0.035000,Steel & Tube Holdings Limited,Basic Materials,Steel,2019,0.039278
2019-09-12 00:00:00+12:00,0.650984,0.015000,Steel & Tube Holdings Limited,Basic Materials,Steel,2019,0.023042
2021-03-11 00:00:00+13:00,0.784473,0.012100,Steel & Tube Holdings Limited,Basic Materials,Steel,2021,0.015424
2021-09-09 00:00:00+12:00,0.889278,0.032900,Steel & Tube Holdings Limited,Basic Materials,Steel,2021,0.036996
2022-03-10 00:00:00+13:00,1.265646,0.055000,Steel & Tube Holdings Limited,Basic Materials,Steel,2022,0.043456
2022-09-08 00:00:00+12:00,1.270056,0.075000,Steel & Tube Holdings Limited,Basic Materials,Steel,2022,0.059053
2023-03-22 00:00:00+13:00,1.050185,0.040000,Steel & Tube Holdings Limited,Basic Materials,Steel,2023,0.038089
2023-09-07 00:00:00+12:00,1.115391,0.040000,Steel & Tube Holdings Limited,Basic Materials,Steel,2023,0.035862
2024-03-13 00:00:00+13:00,1.039417,0.040000,Steel & Tube Holdings Limited,Basic Materials,Steel,2024,0.038483
2024-09-05 00:00:00+12:00,1.010000,0.020000,Steel & Tube Holdings Limited,Basic Materials,Steel,2024,0.019802
2015-09-23 00:00:00+12:00,5.426902,0.176226,Fletcher Building Limited,Basic Materials,Building Materials,2015,0.032473
2021-02-24 00:00:00+13:00,6.188856,0.116294,Fletcher Building Limited,Basic Materials,Building Materials,2021,0.018791
2023-09-14 00:00:00+12:00,4.460000,0.155059,Fletcher Building Limited,Basic Materials,Building Materials,2023,0.034767

In [47]:
non_etf_dividends_df[non_etf_dividends_df['sector'] == 'Energy']

,close,dividends,company,sector,industry,year,dividend_yield
Date,,,,,,,
2016-03-09 00:00:00+13:00,2.943734,0.198458,Channel Infrastructure NZ Limited,Energy,Oil & Gas Refining & Marketing,2016,0.067417
2018-09-12 00:00:00+12:00,2.299199,0.029769,Channel Infrastructure NZ Limited,Energy,Oil & Gas Refining & Marketing,2018,0.012948
2019-03-06 00:00:00+13:00,1.878878,0.044653,Channel Infrastructure NZ Limited,Energy,Oil & Gas Refining & Marketing,2019,0.023766
2019-09-11 00:00:00+12:00,1.980632,0.019846,Channel Infrastructure NZ Limited,Energy,Oil & Gas Refining & Marketing,2019,0.010020
2023-03-09 00:00:00+13:00,1.392000,0.049615,Channel Infrastructure NZ Limited,Energy,Oil & Gas Refining & Marketing,2023,0.035643
2025-03-12 00:00:00+13:00,1.950000,0.066000,Channel Infrastructure NZ Limited,Energy,Oil & Gas Refining & Marketing,2025,0.033846

In [48]:
non_etf_dividends_df[non_etf_dividends_df['sector'] == 'Technology']

,close,dividends,company,sector,industry,year,dividend_yield
Date,,,,,,,
2017-03-09 00:00:00+13:00,2.583124,0.021977,Vista Group International Limited,Technology,Software - Application,2017,0.008508
2017-09-07 00:00:00+12:00,2.538454,0.011441,Vista Group International Limited,Technology,Software - Application,2017,0.004507
2018-03-09 00:00:00+13:00,2.545461,0.016561,Vista Group International Limited,Technology,Software - Application,2018,0.006506
2018-09-12 00:00:00+12:00,3.776473,0.015255,Vista Group International Limited,Technology,Software - Application,2018,0.004039
2019-03-08 00:00:00+13:00,4.467782,0.020022,Vista Group International Limited,Technology,Software - Application,2019,0.004481
2019-09-12 00:00:00+12:00,3.804246,0.011441,Vista Group International Limited,Technology,Software - Application,2019,0.003007
2015-09-23 00:00:00+12:00,0.759545,0.015000,Solution Dynamics Limited,Technology,Software - Application,2015,0.019749
2016-02-26 00:00:00+13:00,1.194930,0.030000,Solution Dynamics Limited,Technology,Software - Application,2016,0.025106
2016-08-22 00:00:00+12:00,1.674811,0.022500,Solution Dynamics Limited,Technology,Software - Application,2016,0.013434
2017-02-27 00:00:00+13:00,1.763879,0.035000,Solution Dynamics Limited,Technology,Software - Application,2017,0.019843
2017-09-06 00:00:00+12:00,1.715611,0.032500,Solution Dynamics Limited,Technology,Software - Application,2017,0.018944
2018-04-05 00:00:00+12:00,1.526379,0.040000,Solution Dynamics Limited,Technology,Software - Application,2018,0.026206
2018-09-14 00:00:00+12:00,1.366812,0.035000,Solution Dynamics Limited,Technology,Software - Application,2018,0.025607
2019-04-16 00:00:00+12:00,1.268285,0.020000,Solution Dynamics Limited,Technology,Software - Application,2019,0.015769
2019-09-19 00:00:00+12:00,1.230049,0.020000,Solution Dynamics Limited,Technology,Software - Application,2019,0.016260
2020-03-26 00:00:00+13:00,1.269421,0.030000,Solution Dynamics Limited,Technology,Software - Application,2020,0.023633
2020-10-08 00:00:00+13:00,2.110229,0.060000,Solution Dynamics Limited,Technology,Software - Application,2020,0.028433
2021-03-11 00:00:00+13:00,2.476235,0.070000,Solution Dynamics Limited,Technology,Software - Application,2021,0.028269
2021-09-16 00:00:00+12:00,2.493194,0.040000,Solution Dynamics Limited,Technology,Software - Application,2021,0.016044
2022-03-24 00:00:00+13:00,2.352618,0.090000,Solution Dynamics Limited,Technology,Software - Application,2022,0.038255
2022-09-15 00:00:00+12:00,2.265897,0.040000,Solution Dynamics Limited,Technology,Software - Application,2022,0.017653
2023-03-23 00:00:00+13:00,2.145967,0.100000,Solution Dynamics Limited,Technology,Software - Application,2023,0.046599
2023-09-07 00:00:00+12:00,1.521560,0.015000,Solution Dynamics Limited,Technology,Software - Application,2023,0.009858
2024-03-21 00:00:00+13:00,1.351250,0.070000,Solution Dynamics Limited,Technology,Software - Application,2024,0.051804
2024-09-10 00:00:00+12:00,1.200000,0.025000,Solution Dynamics Limited,Technology,Software - Application,2024,0.020833
2015-06-10 00:00:00+12:00,1.881150,0.040299,Gentrack Group Limited,Technology,Software - Infrastructure,2015,0.021423
2015-12-08 00:00:00+13:00,2.126421,0.070769,Gentrack Group Limited,Technology,Software - Infrastructure,2015,0.033281
2016-06-09 00:00:00+12:00,2.626468,0.041282,Gentrack Group Limited,Technology,Software - Infrastructure,2016,0.015718
2016-12-08 00:00:00+13:00,3.320256,0.075684,Gentrack Group Limited,Technology,Software - Infrastructure,2016,0.022795
2017-06-13 00:00:00+12:00,4.318194,0.041282,Gentrack Group Limited,Technology,Software - Infrastructure,2017,0.009560
2017-12-12 00:00:00+13:00,6.175012,0.083547,Gentrack Group Limited,Technology,Software - Infrastructure,2017,0.013530
2018-06-15 00:00:00+12:00,6.900416,0.049145,Gentrack Group Limited,Technology,Software - Infrastructure,2018,0.007122
2018-12-12 00:00:00+13:00,5.010379,0.087000,Gentrack Group Limited,Technology,Software - Infrastructure,2018,0.017364
2019-06-06 00:00:00+12:00,5.257027,0.050000,Gentrack Group Limited,Technology,Software - Infrastructure,2019,0.009511
2019-12-06 00:00:00+13:00,3.620000,0.030000,Gentrack Group Limited,Technology,Software - Infrastructure,2019,0.008287
2016-07-07 00:00:00+12:00,0.413573,0.026944,Enprise Group Limited,Technology,Software - Application,2016,0.065149
2016-10-31 00:00:00+13:00,0.501598,0.017962,Enprise Group Limited,Technology,Software - Application,2016,0.035810
2017-06-30 00:00:00+12:00,1.221816,0.031434,Enprise Group Limited,Technology,Software - Application,2017,0.025727
2018-01-18 00:00:00+13:00,1.308717,0.009237,Enprise Group Limited,Technology,Software - Application,2018,0.007058
2018-10-04 00:00:00+13:00,0.890014,0.009237,Enprise Group Limited,Technology,Software - Application,2018,0.010378
2020-10-08 00:00:00+13:00,1.065496,0.018925,Enprise Group Limited,Technology,Software - Application,2020,0.017762
2021-03-01 00:00:00+13:00,0.992367,0.018925,Enprise Group Limited,Technology,Software - Application,2021,0.019071
2021-09-06 00:00:00+12:00,2.138553,0.023657,Enprise Group Limited,Technology,Software - Application,2021,0.011062

In [49]:
non_etf_dividends_df = non_etf_dividends_df[~non_etf_dividends_df['sector'].isin(['Energy', 'Basic Materials'])]

In [50]:
annual_dividend_yield = non_etf_dividends_df.groupby(['company', 'year']).apply(
    lambda g: pd.Series({
        'annual_dividend': g['dividends'].sum(),
        'avg_price': g['close'].mean(),
        'sector': g['sector'].iloc[0]
    })
).reset_index()

# Compute annualized dividend yield
annual_dividend_yield['annual_yield'] = annual_dividend_yield['annual_dividend'] / annual_dividend_yield['avg_price']
annual_dividend_yield

/var/folders/gq/xq2cwt6563vcdxlq8xdfw5hw0000gn/T/ipykernel_4689/2752375087.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  annual_dividend_yield = non_etf_dividends_df.groupby(['company', 'year']).apply(

,company,year,annual_dividend,avg_price,sector,annual_yield
0,2 Cheap Cars Group Limited,2023,0.041600,0.769250,Consumer Cyclical,0.054079
1,2 Cheap Cars Group Limited,2024,0.074823,0.831586,Consumer Cyclical,0.089976
2,AFT Pharmaceuticals Limited,2023,0.011000,3.471987,Healthcare,0.003168
3,AFT Pharmaceuticals Limited,2024,0.016000,3.100000,Healthcare,0.005161
4,ANZ Group Holdings Limited,2015,1.942656,19.302325,Financial Services,0.100644
...,...,...,...,...,...,...
795,Westpac Banking Corporation,2023,1.538286,21.356007,Financial Services,0.072031
796,Westpac Banking Corporation,2024,1.635783,31.486190,Financial Services,0.051952
797,Winton Land Limited (NS),2022,0.010700,2.541574,Real Estate,0.004210
798,Winton Land Limited (NS),2023,0.042200,2.129632,Real Estate,0.019816
799,Winton Land Limited (NS),2024,0.007639,2.500000,Real Estate,0.003056

In [51]:
# Step 3: Identify outliers per sector-year
def detect_outliers(subdf):
    # Use IQR method (can be replaced with z-score if preferred)
    q1 = subdf['annual_yield'].quantile(0.25)
    q3 = subdf['annual_yield'].quantile(0.75)
    iqr = q3 - q1
    lower = q1 - 2 * iqr
    upper = q3 + 2 * iqr
    mask = (subdf['annual_yield'] < lower) | (subdf['annual_yield'] > upper)
    outliers = subdf[mask]
    clean = subdf[~mask]
    return clean, outliers

In [52]:

clean_list = []
outlier_list = []
for (sector, year), group in annual_dividend_yield.groupby(['sector', 'year']):
    clean, outliers = detect_outliers(group)
    if not clean.empty:
        clean_list.append(clean)
    if not outliers.empty:
        outlier_list.append(outliers)

# Combine the results
clean_df = pd.concat(clean_list).reset_index(drop=True)
outliers_df = pd.concat(outlier_list).reset_index(drop=True)

In [55]:
outliers_df

,company,year,annual_dividend,avg_price,sector,annual_yield
0,Hallenstein Glasson Holdings Limited,2016,0.300000,1.512193,Consumer Cyclical,0.198387
1,Hallenstein Glasson Holdings Limited,2017,0.315000,1.916094,Consumer Cyclical,0.164397
2,Hallenstein Glasson Holdings Limited,2018,0.440000,2.943387,Consumer Cyclical,0.149488
3,Millennium & Copthorne Hotels New Zealand Limited,2022,0.070000,2.317082,Consumer Cyclical,0.030210
4,My Food Bag Group Limited,2022,0.085556,0.579993,Consumer Cyclical,0.147512
5,Restaurant Brands New Zealand Limited,2022,0.320000,12.668883,Consumer Cyclical,0.025259
6,Burger Fuel Group Limited,2024,0.270000,0.350000,Consumer Cyclical,0.771429
7,Hallenstein Glasson Holdings Limited,2025,0.245000,7.660000,Consumer Cyclical,0.031984
8,Tourism Holdings Limited,2025,0.025000,1.720000,Consumer Cyclical,0.014535
9,Fonterra Shareholders' Fund (NS),2016,0.400000,2.448684,Consumer Defensive,0.163353
10,Livestock Improvement Corporation Limited (NS),2019,0.109760,0.410501,Consumer Defensive,0.267380
11,Livestock Improvement Corporation Limited (NS),2020,0.127493,0.478250,Consumer Defensive,0.266583
12,Livestock Improvement Corporation Limited (NS),2022,0.284282,1.000191,Consumer Defensive,0.284228
13,Fonterra Shareholders' Fund (NS),2023,1.500000,2.335279,Consumer Defensive,0.642322
14,The Bankers Investment Trust Plc,2015,0.183031,0.356220,Financial Services,0.513814
15,The Bankers Investment Trust Plc,2016,0.320353,0.374340,Financial Services,0.855780
16,Tower Limited,2016,0.136864,0.090005,Financial Services,1.520625
17,The Bankers Investment Trust Plc,2017,0.333602,0.564369,Financial Services,0.591107
18,The Bankers Investment Trust Plc,2018,0.380687,0.843550,Financial Services,0.451292
19,The Bankers Investment Trust Plc,2019,0.398650,1.093475,Financial Services,0.364572
20,The Bankers Investment Trust Plc,2020,0.426505,1.547223,Financial Services,0.275658
21,Tower Limited,2022,0.720000,0.699234,Financial Services,1.029698
22,F&C Investment Trust PLC,2025,0.110329,23.000000,Financial Services,0.004797
23,Henderson Far East Income Limited,2025,0.274501,4.968060,Financial Services,0.055253
24,Tower Limited,2025,0.072222,1.400000,Financial Services,0.051587
25,Green Cross Health Limited,2015,0.220000,1.410985,Healthcare,0.155919
26,Green Cross Health Limited,2022,0.070000,0.968397,Healthcare,0.072284
27,Green Cross Health Limited,2023,0.340000,1.178502,Healthcare,0.288502
28,PGG Wrightson Limited,2015,0.200000,1.120607,Industrials,0.178475
29,PGG Wrightson Limited,2016,0.375000,1.315496,Industrials,0.285064
30,PGG Wrightson Limited,2017,0.375000,1.704416,Industrials,0.220017
31,PGG Wrightson Limited,2019,3.250000,2.578860,Industrials,1.260247
32,Accordant Group Limited,2021,0.147000,1.553127,Industrials,0.094648
33,PGG Wrightson Limited,2021,0.280000,3.018451,Industrials,0.092763
34,Accordant Group Limited,2022,0.121000,1.562735,Industrials,0.077428
35,PGG Wrightson Limited,2022,0.300000,4.104038,Industrials,0.073099
36,Asset Plus Limited,2024,0.050000,0.220000,Real Estate,0.227273
37,CDL Investments New Zealand Limited,2025,0.035000,0.780000,Real Estate,0.044872
38,New Zealand Rural Land Company Limited (NS),2025,0.025400,0.920000,Real Estate,0.027609
39,NZ Windfarms Limited,2019,0.014500,0.112062,Utilities,0.129392
40,Genesis Energy Limited (NS),2023,0.176000,2.278930,Utilities,0.077229

In [60]:
dividends_df[dividends_df['company'] == 'The Bankers Investment Trust Plc']

,close,dividends,company,sector,industry,year,dividend_yield
Date,,,,,,,
2015-07-22 00:00:00+12:00,0.375007,0.091423,The Bankers Investment Trust Plc,Financial Services,Asset Management,2015,0.243790
2015-10-21 00:00:00+13:00,0.337434,0.091608,The Bankers Investment Trust Plc,Financial Services,Asset Management,2015,0.271484
2016-01-27 00:00:00+13:00,0.351616,0.088380,The Bankers Investment Trust Plc,Financial Services,Asset Management,2016,0.251354
2016-04-14 00:00:00+12:00,0.361132,0.082277,The Bankers Investment Trust Plc,Financial Services,Asset Management,2016,0.227831
2016-07-28 00:00:00+12:00,0.381832,0.074475,The Bankers Investment Trust Plc,Financial Services,Asset Management,2016,0.195046
2016-10-27 00:00:00+13:00,0.402781,0.075221,The Bankers Investment Trust Plc,Financial Services,Asset Management,2016,0.186754
2017-01-26 00:00:00+13:00,0.447546,0.079877,The Bankers Investment Trust Plc,Financial Services,Asset Management,2017,0.178478
2017-04-20 00:00:00+12:00,0.527746,0.080439,The Bankers Investment Trust Plc,Financial Services,Asset Management,2017,0.152420
2017-07-27 00:00:00+12:00,0.583817,0.082582,The Bankers Investment Trust Plc,Financial Services,Asset Management,2017,0.141452
2017-10-26 00:00:00+13:00,0.698365,0.090704,The Bankers Investment Trust Plc,Financial Services,Asset Management,2017,0.129881
2018-01-25 00:00:00+13:00,0.801838,0.092042,The Bankers Investment Trust Plc,Financial Services,Asset Management,2018,0.114789
2018-04-26 00:00:00+12:00,0.819079,0.095935,The Bankers Investment Trust Plc,Financial Services,Asset Management,2018,0.117125
2018-07-26 00:00:00+12:00,0.895249,0.093870,The Bankers Investment Trust Plc,Financial Services,Asset Management,2018,0.104853
2018-10-25 00:00:00+13:00,0.858033,0.098840,The Bankers Investment Trust Plc,Financial Services,Asset Management,2018,0.115194
2019-01-24 00:00:00+13:00,0.880480,0.096240,The Bankers Investment Trust Plc,Financial Services,Asset Management,2019,0.109304
2019-04-24 00:00:00+12:00,1.035576,0.100000,The Bankers Investment Trust Plc,Financial Services,Asset Management,2019,0.096565
2019-07-25 00:00:00+12:00,1.155828,0.094940,The Bankers Investment Trust Plc,Financial Services,Asset Management,2019,0.082140
2019-10-24 00:00:00+13:00,1.302016,0.107470,The Bankers Investment Trust Plc,Financial Services,Asset Management,2019,0.082541
2020-01-23 00:00:00+13:00,1.487784,0.106610,The Bankers Investment Trust Plc,Financial Services,Asset Management,2020,0.071657
2020-04-23 00:00:00+12:00,1.319217,0.110770,The Bankers Investment Trust Plc,Financial Services,Asset Management,2020,0.083966
2020-07-23 00:00:00+12:00,1.632197,0.102155,The Bankers Investment Trust Plc,Financial Services,Asset Management,2020,0.062587
2020-10-22 00:00:00+13:00,1.749696,0.106970,The Bankers Investment Trust Plc,Financial Services,Asset Management,2020,0.061136
2021-01-28 00:00:00+13:00,1.929976,0.103431,The Bankers Investment Trust Plc,Financial Services,Asset Management,2021,0.053592
2021-04-29 00:00:00+12:00,2.149499,0.010338,The Bankers Investment Trust Plc,Financial Services,Asset Management,2021,0.004809
2021-07-29 00:00:00+12:00,2.113669,0.010777,The Bankers Investment Trust Plc,Financial Services,Asset Management,2021,0.005099
2021-10-28 00:00:00+13:00,2.049965,0.010532,The Bankers Investment Trust Plc,Financial Services,Asset Management,2021,0.005138
2022-01-27 00:00:00+13:00,2.106445,0.011111,The Bankers Investment Trust Plc,Financial Services,Asset Management,2022,0.005275
2022-04-28 00:00:00+12:00,1.912126,0.010539,The Bankers Investment Trust Plc,Financial Services,Asset Management,2022,0.005512
2022-07-28 00:00:00+12:00,1.922804,0.011217,The Bankers Investment Trust Plc,Financial Services,Asset Management,2022,0.005834
2022-10-27 00:00:00+13:00,1.791490,0.011933,The Bankers Investment Trust Plc,Financial Services,Asset Management,2022,0.006661
2023-01-26 00:00:00+13:00,1.867911,0.011468,The Bankers Investment Trust Plc,Financial Services,Asset Management,2023,0.006139
2023-04-27 00:00:00+12:00,1.936323,0.012624,The Bankers Investment Trust Plc,Financial Services,Asset Management,2023,0.006520
2023-07-27 00:00:00+12:00,1.974290,0.012909,The Bankers Investment Trust Plc,Financial Services,Asset Management,2023,0.006539
2023-10-26 00:00:00+13:00,1.866157,0.013776,The Bankers Investment Trust Plc,Financial Services,Asset Management,2023,0.007382
2024-01-25 00:00:00+13:00,2.091207,0.013737,The Bankers Investment Trust Plc,Financial Services,Asset Management,2024,0.006569
2024-04-24 00:00:00+12:00,2.259886,0.028183,The Bankers Investment Trust Plc,Financial Services,Asset Management,2024,0.012471
2024-07-25 00:00:00+12:00,2.405420,0.014603,The Bankers Investment Trust Plc,Financial Services,Asset Management,2024,0.006071
2024-10-24 00:00:00+13:00,2.370141,0.014425,The Bankers Investment Trust Plc,Financial Services,Asset Management,2024,0.006086
2025-01-23 00:00:00+13:00,2.632422,0.014619,The Bankers Investment Trust Plc,Financial Services,Asset Management,2025,0.005553
2025-04-23 00:00:00+12:00,2.390000,0.015304,The Bankers Investment Trust Plc,Financial Services,Asset Management,2025,0.006404